header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $dark-brown;
    height: $xl-size;
    padding: $s-size;
    display: flex;
    align-items: center;
}

.header__navigation__link{
    color: lighten($light-brown,10%);
    padding: 0 0 0 $s-size;
    text-decoration: none;
}

.header__navigation{
    padding: 0 0 0 $xl-size;
}