.sectionItem{
    border-bottom: 1px solid $light-brown;
    max-width: $sl-width;
    background-color: lighten($light-brown,12%);
    margin: 0 $s-size $m-size $s-size;
    border-radius: $xs-size;
    overflow:hidden;
}

.sectionItem--small{
    border-bottom: 1px solid $light-brown;
    max-width: $l-width;
    background-color: lighten($light-brown,12%);
    margin: 0 $m-size $l-size $m-size;
    border-radius: $xs-size;
    overflow:hidden;
}

.sectionItem__image--static{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.sectionItem__image--zoom{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    transition: transform .5s ease;

}

.sectionItem__image--zoom:hover{
    transform: scale(1.3);
}

.sectionItem__title{
    color:black;
    font-size: $title-text;
    font-weight: 550;
    text-align: center;
    margin: $s-size;
}

.sectionItem__skills{
    font-weight: 550;
    list-style: none;
    padding: 0;
    text-align: center;
}

.sectionItem__description{
    font-weight: 500;
    padding: 0 $s-size;
    word-wrap: inherit;
    font-size: $desscription-text;
}

.sectionItem__zoom{
    overflow: hidden;
}

.sectionItem__Links{
    display: flex;
    flex-direction: column;
}

.sectionItem__Links__button{
    text-decoration: none;
    text-align: center;
    color: $light-brown;
    background-color: $dark-brown;
    border: none;
    width: 10rem;
    padding: $xs-size;
    margin: 0 auto $s-size auto;
    outline: none;
    border-radius: $xs-size;
}

.sectionItem__Links__button:hover{
    color: lighten($light-brown,10%);
    background-color: lighten($dark-brown, 10%);
}

.sectionItem__Links__button:active{
    color: darken($light-brown,5%);
    background-color: darken($dark-brown, 5%);
    border: none;
}

@media (max-width: $desktop-breakpoint) {
    .sectionItem{
        width: 90%;
    }
    
    .sectionItem--small{
        max-width: 43%;
    }
}