.subHeader{
    $body-bg: transparent;
    background: $light-brown;
    background: linear-gradient(to bottom, rgba(darken($dark-brown,10%),0),rgba(darken($dark-brown,10%),100)), url(/images/headerImage.webp),  no-repeat;
    height: 45rem;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 $l-size 0 $dark-brown;
}
.subHeader__Name{
    font-weight: 700;
    font-size: $s-width;
    color: lighten($light-brown,15%);
}
.subHeader__Title{
    font-weight:600;
    font-size: $xl-size;
    color: lighten($light-brown,15%);
}

@media (max-width: $desktop-breakpoint) {
    .subHeader__Name{
        font-size: $s-width -$l-size;
    }

    .subHeader__Title{
        font-size: $l-size;
    }

    .subHeader{
        height: 35rem;
        margin-bottom: $s-size;
    }
}