html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: $m-size;
  background-color: white;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Corben", Georgia, Times, serif;
}
p,
div {
  font-family: "Nobile", Helvetica, Arial, sans-serif;
}
