// Colors
/*
$off-black: #20222b;
$off-white: #a6afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;
*/
$dark-grey: #29293d;
$light-grey: #c2c2d6;
$dark-brown: #24180C;
$light-brown: #D8AF8F;

//spacing
$xs-size: 0.5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45em;


$title-text: 2.75rem;
$desscription-text: 2rem;


$s-width: 10rem;
$m-width: 15rem;
$l-width: 20rem;
$ll-width: 30rem;
$xl-width: 40rem;
$sl-width: 45rem;